*{
  margin: 0 auto;
  padding: 0;
}

body{
  background-color: black;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 12vh;
  width: 800px;
  height: 400px;
}

#canvasPool, #canvasBalls{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#canvasPool{
  z-index: 1;
}

#canvasBalls{
  z-index: 2;
}

#controls{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 5%;
  width: 800px;
  height: 50px;
}

#shotStrenghtDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 50px;
  margin-left: 30%;
}

/* controls */

#round, #shots, #score{
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  width : 200px;
}

#round{
  color: brown;
}

#shots{
  color: lightblue;
}

#score{
  color : beige;
}

/* shotStrenghtDiv */

#ball{
  background-image: url("../Assets/ball.png");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin: 0;
}

#cue{
  background-color: white;
  height: 5px;
  width:  200px;
  margin: 0;
}
